[ripple] {
  position: relative;
  overflow: hidden;
}

[ripple] .ripple--container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

[ripple] .ripple--container span {
  -webkit-transform: scale(0);
          transform: scale(0);
  border-radius: 100%;
  position: absolute;
  opacity: 0.75;
  background-color: #838487;
  -webkit-animation: ripple 1000ms;
          animation: ripple 1000ms;
}

@-webkit-keyframes ripple {
  to {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes ripple {
  to {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}


.searchrow {
  background-color: #337AB7;
 border-radius: 0;
 box-shadow: 2px 2px 7px #173853;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  border-radius: 5px;
}
.searchrow:hover{
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;

}
.searchrow .searchgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.searchrow .searchgroup input {
  background-color: #337AB7;
  color: white;
  font-family: 'Roboto', sans-serif;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
          height: 100%;
          padding: 5px;
          margin: 5px;
          border: none;
          font-size: 15px;
}
.searchrow .searchgroup input:focus {
  outline: none;
  color: white;
}
.searchrow .searchgroup input::-webkit-input-placeholder {
  color: white;
}
.searchrow .searchgroup i {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  width: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  color: rgba(1, 1, 1, 0.6);
  margin: 0 32px 0 16px;
  -webkit-transition: margin 150ms;
  transition: margin 150ms;
}
.searchrow i {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  width: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  color: rgba(1, 1, 1, 0.6);
  margin-right: 16px;
  -webkit-transition: margin 150ms;
  transition: margin 150ms;
}

@media all and (min-width: 960px) {
  .searchrow .searchgroup i {
    margin: 0 32px 0 24px;
  }
  .searchrow i {
    margin-right: 24px;
  }
}
@media all and (max-width: 320px) {
  .searchrow .searchgroup i {
    margin: 0 8px 0 8px;
  }
  .searchrow i {
    margin-right: 8px;
  }
}


.search-container{
  display: flex;
  flex-flow: column;
  flex: 1;
}
.search-one{
  display: flex;
  flex: 1;
  justify-content: center;align-items: center;
}
.search-two{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.search-two select {
  margin: 15px;
  flex-basis: 200px;
  height:25px;
  background-color: #fff;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
