.card {
  display: flex;
  flex: 1;
  padding: 10px;
  flex-wrap: wrap;
}

/* On mouse-over, add a deeper shadow */
.shopcontainer:hover {
    transition: 0.3s;
    background-color: white;
}

/* Add some padding inside the card container */
.shopcontainer {
  height: 470px;
  width: 300px;
  padding: 10px;
  margin: 5px;
  font-family: 'Comfortaa', cursive;
  overflow: hidden;
  border-radius: 5px;
   box-shadow: 8px 12px 30px #b3b3b3;
background-color: #fdfefe;
}
.productimg{
  border-radius: 3px;
}
.shopdetail{
  display: flex;
  flex: 1;
flex-flow: column;
}
.shoppname{
  font-size: 1.5em;
  font-weight: 600;
  padding: 1px;
}
.shopprice{
  color: black;
  font-weight: bold;
  margin: 0!important;
}
.shoptax{
  color: black;
  margin: 0!important;

}
.shopdiscount{
  color: black;
  font-weight: bold;
  margin: 0!important;

}
.shopstock{
  color: black;
  margin: 0!important;

}
.cancelbutton{
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.close-btn{
  padding: 2px;
  color: red;
}
