.header {
  display: flex;
  flex:1;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background:#229bdc;
  border-radius: 2px;
  color:#abe2ff;
}

.headeritem {
  display: flex;
  border-bottom: 1px solid blue;
  flex-wrap: wrap;
}

.one {
  flex: 1;
  color:white;
  align-items: center;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 600;
  padding-left: 20px;
}
.two {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.three {
  padding-right: 20px;
  display: flex;
  flex: 1;
  color: white;
  align-items:center;
  justify-content: flex-end;

}


.icon {
  background-image: url(./large.png);
  width: 50px;
  height: 40px;
  background-position: center;
  margin-right: 2px;
}

.headerloginlogout{
  color: white;
  padding: 10px;
}
.mynavitmes{
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 5px;
  cursor: pointer;
  font-weight: 600;
}
@media only screen and (max-width: 480px) {
.one{
  display: none;
}
.three {
  display: flex;
  flex: 1;
  color: white;
  align-items:center;
  justify-content: center;

}
}
